<ion-header class="ion-no-border ion-padding">
  <ion-toolbar>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item ion-padding lines="none">
    <section>
      WildWatch is an app which helps people keep track of wildlife, it provides
      a map to add and view information on wildlife collected by both
      professionals and enthusiasts. It provides tools to narrow down a certain
      search pattern, and a way to provide data to a centralized database and
      get credit for the collected data, the collected data will be used in
      another open project.
    </section>
  </ion-item>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="back()" color="black">
      <ion-icon name="chevron-back-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
