ion-button {
  --ion-color-primary: #A64D79;
  --ion-color-primary-shade: black !important;
  --ion-color-primary-tint: black !important;
}
ion-toolbar, ion-title {
  --ion-color-primary: #A64D79;
  --ion-color-primary-shade: black !important;
  --ion-color-primary-tint: black !important;
}