<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="3" class="ion-text-center">
          <ion-button [routerLink]="['/camera']" (click)="reset()">
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="3" class="ion-text-center">
          <ion-button [routerLink]="['/map']" (click)="reset($event)">
            <ion-icon name="map-outline" color="white"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="3" class="ion-text-center">
          <ion-button
            [routerLink]="['/profile']"
            routerDirection="root"
            (click)="reset($event)"
          >
            <ion-icon name="person-circle-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="3" class="ion-text-center">
          <ion-button (click)="openMenu()">
            <ion-icon name="settings-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<app-menu></app-menu>
