:root {
  --ion-safe-area-top: 20px;
  --ion-safe-area-bottom: 22px;
}
ion-button {
  --ion-color-primary: #009e0f;
  --ion-color-primary-shade: black !important;
  --ion-color-primary-tint: black !important;
}
ion-button.danger {
  --ion-color-primary: #990000;
  --ion-color-primary-shade: black !important;
  --ion-color-primary-tint: black !important;
}
ion-col {
  ion-input {
    border-bottom: solid 1px black;
  }
  ion-textarea {
    border-bottom: solid 1px black;
  }
}

.subtitle {
  font-size: 24px;
  text-align: center;
  width: 100%;
}

.center {
  margin: auto;
  width: 50%;
  border: none;
  text-align: center;
  padding-top: 10%;
}

.button-belt {
  display: inline-block;
  position: relative;
  width: 50%;
}
.bottom-right {
  position: absolute;
  bottom: -25px;
  right: -25px;
}
.top-left {
  position: absolute;
  top: -25px;
  left: -25px;
}

.top-right {
  position: absolute;
  top: -25px;
  right: -25px;
}

ion-searchbar {        
  transform: scale(1.2); 
  margin: 0 auto;
  width: 80%; 
  white-space: pre-wrap;
  text-align: center;
  font-size: 12pt;
  --placeholder-font-weight: 100;
}

ion-searchbar.invisible{
  transform: scale(1.2); 
  margin: 0 auto;
  width: 80%; 
  white-space: pre-wrap;
  --background: transparent;
  --icon-color: black;
  opacity: 100%;
}



.center-button {
  margin: auto;
  width: 100%;
  border: none;
  text-align: center;
  padding-top: 10%;
}