<ion-header>
  <ion-toolbar>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <form (ngSubmit)="processForm($event)">
    <ion-list ion-padding>
      <ion-item lines="none">
        <ion-searchbar
          [(ngModel)]="signup.fullname"
          name="fullname"
          showCancelButton="never"
          type="text"
          searchIcon=undefined
          placeholder="fullname"
        ></ion-searchbar>
      </ion-item>
      <ion-item lines="none">
        <ion-searchbar
          [(ngModel)]="signup.username"
          name="username"
          showCancelButton="never"
          type="text"
          searchIcon=undefined
          placeholder="username"
        ></ion-searchbar>
      </ion-item>
      <ion-item lines="none"> 
        <ion-searchbar
          [(ngModel)]="signup.password"
          name="password"
          showCancelButton="never"
          type="password"
          searchIcon=undefined
          placeholder="password"
        ></ion-searchbar>
      </ion-item>
      <ion-item lines="none">
        <ion-card>
          <ion-card-content>
            By signing up, you agree to the
            <a [routerLink]="['/terms']">Terms of Service</a> and
            <a [routerLink]="['/privacy']">Privacy Policy</a>
          </ion-card-content>
        </ion-card>
      </ion-item>
      <ion-item class="center" lines="none">
        <ion-button
          expand="block"
          type="submit"
          class="ion-no-margin"
          color="green"
          style="width:100%; height: 100%;"
          >Sign Up</ion-button
        >
      </ion-item>
      <ion-item class="center" lines="none">
        <ion-button
          expand="block"
          [routerLink]="['/signin']"
          class="ion-no-margin"
          color="grey"
          style="width:100%; height: 100%;"
          >Already have an account?</ion-button
        >
      </ion-item>
    </ion-list>
  </form>
</ion-content>
