{% extends "base.html" %} {% block content %}
<h3 >Add User</h3>
{% with messages = get_flashed_messages() %} {% if messages %}
<div class="well">
  {{ messages[0] }}.
</div>
{% endif %} {% endwith %}
<form method="POST" action="/adduser">
  <div>
    <input type="text" name="username" placeholder="Username" autofocus="" />
  </div>
  <div>
    <input type="text" name="name" placeholder="Name" autofocus="" />
  </div>
  <div>
    <input type="password" name="password" placeholder="Password" />
  </div>
  <div>
    <input type="submit" value="Add User" />
  </div>
</form>
{% endblock %}
