{%for wildlife in data%}
<div class="card" id="{{wildlife.cardid}}">
  <div class="wildlife">
    <div class="wildlife-photo">
      <img src="{{ wildlife.photo }}" alt="Avatar" style="width: 100%;" />
    </div>
    <a href="#" class="add_marker" hidden>
      {{wildlife.center}}
    </a>
    <div class="wildlife-distance">
      <i class="fas fa-map-marker-alt"></i>
      {{ wildlife.distance }}
    </div>
    <div class="wildlife-species">
      {{ wildlife.species }}
    </div>
    <div class="wildlife-type">
      {{ wildlife.type }}
    </div>
    <hr class="wildlife-hr" />
    <div class="wildlife-notes">
      {{ wildlife.notes }}
    </div>
  </div>
  {%for report in wildlife.reports%}
  <div class="report">
    <div class="report-body">
      <div class="report-title">
        {{ report.title }}
      </div>
      <div class="report-code">
        {{ report.code }}
      </div>
      <div class="report-text">
        {{ report.text }}
      </div>
    </div>
    <div class="modal">
      <div id="resolve-report-{{report.id}}" class="bullseye">
        <form class="form" onsubmit="resolve_report(event)">
          <h4>Resolve Report</h4>
          <div class="row">
            <label for="true"> Resolve Related Reports </label>
            <input type="radio" id="true" name="cascade" />
          </div>
          <br />
          <input type="number" name="id" hidden value="{{report.id}}"/>
          <a href="#" rel="modal:close" id="closereport" hidden>Close</a>
          <button type="submit" class="report-button">
            <i class="fas fa-paper-plane report-button-i"></i>
          </button>
        </form>
      </div>
      <div class="bullseye" id="remove-report-{{report.id}}">
        <form class="form" onsubmit="remove_report(event)">
          <h4>Delete Report</h4>
          <div class="row">
            <label for="true"> Delete Related Reports </label>
            <input type="radio" id="true" name="cascade" />
          </div>
          <br />
          <input type="number" name="id" hidden value="{{report.id}}"/>
          <a href="#" rel="modal:close" id="closereport" hidden>Close</a>
          <button type="submit" class="report-button">
            <i class="fas fa-paper-plane report-button-i"></i>
          </button>
        </form>
      </div>
    </div>
    <div class="report-options spacy">
      <a href="#resolve-report-{{report.id}}" rel="modal:open">
        <i class="far fa-check-square"></i>
      </a>
      <a href="#remove-report-{{report.id}}" rel="modal:open">
        <i class="fas fa-minus-circle"></i>
      </a>
    </div>
  </div>
  {%endfor%}
</div>
{%endfor%}
