{%for wildlife in data%}
<div class="card">
  <div class="wildlife">
    <div class="wildlife-photo">
      <img src="{{ wildlife.photo }}" alt="Avatar" style="width: 100%;" />
    </div>
    <a href="#" class="add_marker" hidden>
      {{wildlife.center}}
    </a>
    <div class="wildlife-distance">
      <i class="fas fa-map-marker-alt"></i>
      {{ wildlife.distance }}
    </div>
    <div class="wildlife-species">
      {{ wildlife.species }}
    </div>
    <div class="wildlife-type">
      {{ wildlife.type }}
    </div>
    <hr class="wildlife-hr" />
    <div class="wildlife-notes">
      {{ wildlife.notes }}
    </div>
  </div>
  {%for report in wildlife.reports%}
  <div class="report">
    <div class="report-body">
      <div class="report-title">
        {{ report.title }}
      </div>
      <div class="report-code">
        {{ report.code }}
      </div>
      <div class="report-text">
        {{ report.notes }}
      </div>
    </div>
    <div class="modal">
      <div id="resolve-report" class="bullseye">
        <form class="form" action="#" method="PUT">
          <h4>Resolve Report</h4>
          <div class="row">
            <label for="true"> Resolve Related Reports </label>
            <input type="radio" id="true" name="cascade" value="true" />
          </div>
          <input
            type="radio"
            id="false"
            name="cascade"
            value="false"
            checked
            hidden
          />
          <br />
          <button type="submit" class="report-button">
            <i class="fas fa-paper-plane report-button-i"></i>
          </button>
        </form>
      </div>
      <div class="bullseye" id="remove-report">
        <form class="form" action="#" method="DELETE">
          <h4>Delete Report</h4>
          <div class="row">
            <label for="true"> Delete Related Reports </label>
            <input type="radio" id="true" name="cascade" value="true" />
          </div>
          <input
            type="radio"
            id="false"
            name="cascade"
            value="false"
            checked
            hidden
          />
          <br />
          <button type="submit" class="report-button">
            <i class="fas fa-paper-plane report-button-i"></i>
          </button>
        </form>
      </div>
    </div>
    <div class="report-options spacy">
      <a href="#resolve-report" rel="modal:open">
        <i class="far fa-check-square"></i>
      </a>
      <a href="#remove-report" rel="modal:open">
        <i class="fas fa-minus-circle"></i>
      </a>
    </div>
  </div>
  {%endfor%}
</div>
{%endfor%}
