<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="static/img/icon.png" />
    <link rel="stylesheet" href="/static/css/app.css" />
    <script>
      window.location.href = '/welcome';
    </script>
  </head>
  <body class="body-app">
    <p hidden id="url">/guest</p>
    <div class="header bullseye">
      <h1 class="ml2">
        Wild Watch
      </h1>
    </div>
    <div class="main bullseye" id="map">
        This Website relies on OpenLayers to deliver its functionality, which is javascript based, please re-enable javascript in your browser.
    </div>
    <div class="footer bullseye">
      <p>Copyrights &copy; 2020 Aly Shmahell</p>
      <p></p>
    </div>
  </body>
</html>