{% extends "base.html" %} {% block content %}

<h3 >Signin</h3>
{% with messages = get_flashed_messages() %} {% if messages %}
<div class="well">
  {{ messages[0] }}
</div>
{% endif %} {% endwith %}
<form method="POST" action="/signin">
  <div>
    <input
      type="text"
      name="username"
      placeholder="Your Username"
      autofocus=""
    />
  </div>

  <div>
    <input type="password" name="password" placeholder="Your Password" />
  </div>
  <label>
    <input type="checkbox" />
    Remember me
  </label>
  <div>
    <input type="submit" value="Sign In" />
  </div>
</form>
{% endblock %}
