<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" 
      type="image/png" 
      href="static/img/icon.png">
    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/static/css/nouislider.min.css" />
    <script src="/static/js/nouislider.min.js"></script>
    <script src="/static/js/wNumb.min.js"></script>
    <link href="/static/css/tag-picker.min.css" rel="stylesheet" />
    <script src="/static/js/tag-picker.min.js"></script>
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/css/ol.css"
      type="text/css"
    />
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/build/ol.js"></script>
    <!-- ol-ext -->
    <link
      rel="stylesheet"
      href="https://cdn.rawgit.com/Viglino/ol-ext/master/dist/ol-ext.min.css"
    />
    <script
      type="text/javascript"
      src="https://cdn.rawgit.com/Viglino/ol-ext/master/dist/ol-ext.min.js"
    ></script>
    <!-- jQuery Modal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css"
    />
    <link rel="stylesheet" href="/static/css/app.css" />
    <script src="/static/js/header.js"></script>
  </head>
  <body class="body-welcome">
    <div class="header bullseye">
      <h1 class="ml2">
        Wild Watch
      </h1>
    </div>
    <div class="welcome bullseye ">
      <a href="/login">
        <div class="bullseye"> <img class="welcome-img" src="/static/img/curator.png"></img></div>
      </a>
      
      <a href="/guest">
        <div class="bullseye"> <img class="welcome-img" src="/static/img/guest.png"></img></div>
      </a>
    </div>
    <div class="footer bullseye">
      <p>Copyrights &copy; 2020 Aly Shmahell</p>
      <p></p>
    </div>
  </body>
</html>
