<ion-header>
  <ion-toolbar>
    <ion-title>Privacy Policy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item ion-padding lines="none">
    <section>
      The WildWatch Privacy Statement (the “Privacy Statement”) describes how
      WildWatch treats personal information when you use our products and
      services, including information collected when you use WildWatch. By
      accessing and using WildWatch, you are accepting the practices
      described hereafter; the types of personal information we may collect
      include, but are not limited to: 
      <ul>
        <li>Your username</li>
        <li>Your password</li>
        <li>Other information that WildWatch collects online
          from you and maintains in association with your WildWatch account</li>
      </ul>
    </section>
  </ion-item>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="back()" color="black">
      <ion-icon name="chevron-back-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
